*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif;}

html{font-size: 20px;}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e1e6eb;
	min-height: 100vh;
}

.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:  50px 0 100px;
}

.texts_wrapper{
	position: relative;
	width:50vw;
	min-width: 350px;
	height:300px;
}
#text,#text1{
	position: absolute;
	top: 0; left: 0;
	background: #f5f6fa;
	box-shadow: 0px 37px 37px -15px rgba(0,0,0,0.1);
	border: none;
	outline: none;
	font-size: 1rem;
	width: 100%; height: 100%;
	padding: 16px;
	border-radius: 10px;
}
#text{
	z-index: 1;
	resize: none;
}

#text1{
	z-index: -1;
	display: none;
	overflow-y: auto;
}

.options{
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.options .option{
	padding: 0 6px;
	width: 11rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid #000; */
}
.options .dire{
	position: relative;
	transition: opacity .2s;
}

.options .dire.disabled{
	opacity: .4;
	cursor: not-allowed;
}
.options .dire.disabled *{
	pointer-events: none;
}

.options button{
	font-size: 1.1rem;
	width: 9.5rem;
	padding: 8px 25px;
	border: none;
	outline: none;
	background:  #00a8ff;
	color: #fff;
	border-radius: 100px;
	font-weight: 500;
	cursor: pointer;
	/* overflow-x: hidden; */
	transform: scale(1);
	transition: .2s;
}

.options button:active{
	transform: scale(0.95);
}
.options button:disabled{
	opacity: .4;
	cursor: not-allowed;
}
.options button .far, .options button .fas, .options button .fab{
	pointer-events: none;
}


.option .arrow{
	cursor: pointer;
	margin-left: 5px;
	width: 22px; height: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #005F90;
	transition: transform .1s;
}
.options .dire .slider{
	text-align: center;
	position: absolute;
	top: 30%; left: 0;
	z-index: 1;
	width: 100%;
	padding: 0px 0;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 10px 10px 3px rgba(0,0,0,.07);
	overflow-x: hidden;
	opacity: 0;
	pointer-events: none;
	transition: .3s;
}
.slide_opt{
	font-size: .9rem;
	color: rgba(40,42,44,.7);
	padding: 9px 15px;
	border-top: .5px solid rgba(40,42,44,.07);
	border-bottom: .5px solid rgba(40,42,44,.07);
	cursor: pointer;
}
.slide_opt:hover{
	background: #eef1f6;
}
.slide_opt:first-child{
	border-top: none;
}






@media(max-width: 675px){
	html{font-size: 17px;}
}
@media(max-width: 560px){
	.options{
		margin-top: 20px;
		flex-direction: column;
	}
	.options .option{
		width: 12rem;
	}
	.options button{
		/* width: 150px; */
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.option .arrow{
		position: absolute;
	    top: calc(50% - 11px);
	    right: -2px;
	}
}
@media(max-width: 375px){
	.texts_wrapper{
		min-width: auto;
		width: 90vw;
	}
}